* {
    margin: 0;
    padding: 0;
}
 body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #fdfa3d;
    color: white;
}

.header {
    position: relative;
    background-color: inherit;
    max-height: 200px;
    height: 10vh;
    z-index: 2;
} 
/* 
.header ul {
    padding-top: 20px;
    height: 100%;
    position: absolute;
    right: 5%;
    top: 0;
    list-style: none;
    width:  30%;
    display: flex;
    align-items: stretch;
}

.header ul li {
    flex: 1 1 0;
}

.header ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: inherit;
    transition: background-color 0.35s;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.5vw;
}


.header ul li a:hover{ 
    background-color: black;
    color: white;
} */

.align-right{ 
    text-align: right;
}

.burger{ 
    width: 15vw;
    height: 15vw;
    min-width: 30px;
    max-width: 45px;
    min-height: 30px;
    max-height: 45px;
    padding: 6px;
    background-color: inherit;
    border: none;
}

.burger img{ 
    display: block;
    height: 100%;
    width: 100%;
} 

.header ul{ 
    border: 1px solid #fdfa3d;
    background-color: inherit;
    list-style: none;
    background-color: black;
    z-index: 1;
    
}
.header ul li a{ 
    text-decoration: none;
    color: white;
    padding: 6px 3px;
    font-weight: 400;
}

.header li+li {
    border-top: 1px solid yellow;
    background-color: black;
}
.hidden{ 
    display: none;
}














#hello #hello-txt {
    font-size: 29vw;
    line-height: 90%;
}
@media (min-width : 500px){ 
    #hello #hello-txt { 
        font-size: 14vw; 
    }
}

#hello #under-hello {
    font-size: 2.2vw;
}

#hello #main {
    padding: 20px;
    margin: auto;
    background-color: black;
}

#hello .center-h {
    margin: auto;
    width: max-content;
}

#hello .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#note{ 
    font-weight: 500;
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}