* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    font-size: calc(1vw + 0.8em);
    width: 100vw;
}

.container {
    width: 80vw;
    margin: auto;
}

@media (max-width: 500px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}

#contact .yelow-character {
    display: inline-block;
    font-size: calc(1vw + 1.8em);
    background-color: #fdfa3d;
    padding: 0 20px;
}


#contact .contact {
    padding-top: 20px;
    padding-bottom: 20px;
}



#contact ul {
    list-style-position: inside;
}

#contact h1 {
    font-weight: 400;
}

#contact li+li {
    margin: 10px 0;
}

#contact h2 {
    font-weight: 400;
    font-size: calc(1vw + 1.3em);
    padding-top: px;
    padding-bottom: 10px;
}

#contact hr {
    width: 50%;
    margin: 20px auto;
}



.socials ul {
    list-style: none;
}

.socials li {
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 4px 7px;
    width: max-content;

}

.socials a{ 
    color: white; 
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
}
.socials .fb {
    background-color: #4267B2;
}

.socials .insta {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}



