* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    font-size: calc(1vw + 0.8em);
    width: 100vw;
}

.container {
    width: 80vw;
    margin: auto;
}

@media (max-width: 500px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}

#about .yelow-character {
    display: inline-block;
    font-size: calc(1vw + 1.8em);
    background-color: #fdfa3d;
    padding: 0 20px;
}

#about .pragraph-link {
    text-decoration: none;
    font-weight: 500;
}

#about .rafikchb {
    padding-top: 20px;
    padding-bottom: 20px;
}

#about #skills-title {
    width: max-content;
}

#about ul {
    list-style-position: inside;
}

#about #skills-pannel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#about #skills-pannel .skill {
    margin: 20px;
}

#about .skill-icon img {
    display: block;
    width: 100px;
    margin: auto;
}

#about h1 {
    font-weight: 400;
}

#about li+li {
    margin: 10px 0;
}

#about h2 {
    font-weight: 400;
    font-size: calc(1vw + 1.3em);
    padding-top: px;
    padding-bottom: 10px;
}

#about hr {
    width: 50%;
    margin: 20px auto;
}